<%- include('../includes/header.ejs') %>



<main id="main" class="main">


    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                        <img src="./views/admin/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <h2>Mosehla Dennis</h2>
                        <h3>5 Trackers</h3>

                    </div>
                </div>

            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <a href="/user-profile" class='nav-link'>Overview</a>
                            </li>

                            <li class="nav-item">
                                <a href="/user-update" class='nav-link'>Edit Profile</a>
                            </li>

                            <li class="nav-item">
                                <a href="/user-remove" class='nav-link'>Remove Account</a>
                            </li>

                            <li class="nav-item">
                                <a href="/user-trackers" class='nav-link active'>Trackers</a>
                            </li>

                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">


                                <!-- Container Fluid-->
                                <div class="container-fluid" id="container-wrapper">
                                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                        <h1 class="h3 mb-0 text-gray-800">My Trackers</h1>
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">my trackers</li>
                                        </ol>
                                    </div>

                                    <div class="row mb-3">
                                        <!-- Earnings (Monthly) Card Example -->
                                        <div class="col-xl-3 col-md-6 mb-4">
                                            <div class="card h-100">
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-uppercase mb-1"></div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Den#Track01</div>
                                                            <div class="mt-2 mb-0 text-muted text-xs">
                                                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>Last Seen</span>
                                                                <span>Online</span>
                                                            </div>
                                                            <div class="h7 mb-0 font-weight-bold text-gray-800">IMEI: 935252545214</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-calendar fa-2x text-primary"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Earnings (Annual) Card Example -->
                                        <div class="col-xl-3 col-md-6 mb-4">
                                            <div class="card h-100">
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-uppercase mb-1"></div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Den#Track02</div>
                                                            <div class="mt-2 mb-0 text-muted text-xs">
                                                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>Last Seen</span>
                                                                <span>Online</span>
                                                            </div>
                                                            <div class="h7 mb-0 font-weight-bold text-gray-800">IMEI: 935252545214</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-calendar fa-2x text-primary"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- New User Card Example -->
                                        <div class="col-xl-3 col-md-6 mb-4">
                                            <div class="card h-100">
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-uppercase mb-1"></div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Den#Track03</div>
                                                            <div class="mt-2 mb-0 text-muted text-xs">
                                                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>Last Seen</span>
                                                                <span>Online</span>
                                                            </div>
                                                            <div class="h7 mb-0 font-weight-bold text-gray-800">IMEI: 935252545214</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-calendar fa-2x text-primary"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Pending Requests Card Example -->
                                        <div class="col-xl-3 col-md-6 mb-4">
                                            <div class="card h-100">
                                                <div class="card-body">
                                                    <div class="row align-items-center">
                                                        <div class="col mr-2">
                                                            <div class="text-xs font-weight-bold text-uppercase mb-1"></div>
                                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Den#Track04</div>
                                                            <div class="mt-2 mb-0 text-muted text-xs">
                                                                <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>Last Seen</span>
                                                                <span>Online</span>
                                                            </div>
                                                            <div class="h7 mb-0 font-weight-bold text-gray-800">IMEI: 935252545214</div>
                                                        </div>
                                                        <div class="col-auto">
                                                            <i class="fas fa-calendar fa-2x text-primary"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Area Chart -->
                                        <div class="col-xl-12 col-lg-8">
                                            <div class="card mb-4">
                                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                                    <h6 class="m-0 font-weight-bold text-primary">Monthly Recap Report</h6>
                                                    <div class="dropdown no-arrow">
                                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                                                           aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                                             aria-labelledby="dropdownMenuLink">
                                                            <div class="dropdown-header">Dropdown Header:</div>
                                                            <a class="dropdown-item" href="#">Action</a>
                                                            <a class="dropdown-item" href="#">Another action</a>
                                                            <div class="dropdown-divider"></div>
                                                            <a class="dropdown-item" href="#">Something else here</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div class="chart-area">
                                                        <canvas id="myAreaChart"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Pie Chart -->


                                    </div>
                                    <!--Row-->



                                </div>



                        </div><!-- End Bordered Tabs -->




                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

<%- include('../includes/footer.ejs') %>